* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

.standard-content {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 1rem;
}

.home-link {
  display: inline-block;
  margin-top: 1rem;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
  min-height: 400px;
}

.box {
  background-color: var(--color-bg, hsl(0, 0%, 95%));
  border: 1px solid rgba(0 0 0 / 5%);
  border-radius: 6px;
  min-width: 300px;
  overflow: hidden;
  flex: 1;
}
